aiobotocore==2.4.2
aiofiles==23.2.1
aiomysql==0.2.0
aiosqlite==0.20.0
alembic==1.13.1
altair==4.2.2
aniso8601==9.0.1
annotated-types==0.6.0
antlr4-python3-runtime==4.9.3
anyconfig==0.10.1
anyio==3.7.1
appdirs==1.4.4
apprise==1.8.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgi-lifespan==2.1.0
asttokens==2.4.1
async-lru==2.0.4
asyncpg==0.29.0
avro==1.11.3
Babel==2.14.0
beautifulsoup4==4.12.3
binaryornot==0.4.4
bleach==6.1.0
blinker==1.7.0
boto3==1.34.106
botocore==1.34.113
build==1.2.1
chardet==5.2.0
click-default-group==1.2.4
cloudpickle==3.0.0
colorlog==6.8.2
comm==0.2.2
commonmark==0.9.1
confluent-kafka==2.3.0
cookiecutter==2.6.0
coolname==2.2.0
coverage==7.5.1
croniter==2.0.5
dacite==1.8.1
dateparser==1.2.0
debugpy==1.8.1
deep-translator==1.11.4
defusedxml==0.7.1
dnspython==2.6.1
docker==6.1.3
dynaconf==3.2.5
email_validator==2.1.1
entrypoints==0.4
et-xmlfile==1.1.0
evidently==0.4.25
exceptiongroup==1.2.1
executing==2.0.1
fastapi==0.111.0
fastapi-cli==0.0.4
fastavro==1.8.4
fastjsonschema==2.19.1
Flask==3.0.3
fonttools==4.25.0
fqdn==1.5.1
furl==2.1.3
gitdb==4.0.11
GitPython==3.1.43
google-trans-new==1.1.9
googletrans==4.0.0rc1
graphene==3.3
graphql-core==3.2.3
graphql-relay==3.2.0
graphviz==0.20.3
great-expectations==0.15.12
griffe==0.21.0
h11==0.14.0
h2==4.1.0
holidays==0.47
hopsworks==3.7.0
hpack==4.0.0
hsfs==3.7.2
hsml==3.7.0
htmlmin==0.1.12
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
humanize==4.9.0
hyperframe==6.0.1
ImageHash==4.3.1
importlib-metadata==6.11.0
importlib_resources==6.1.3
iniconfig==2.0.0
ipykernel==6.29.4
ipython==8.23.0
ipywidgets==8.1.2
isoduration==20.11.0
itsdangerous==2.2.0
javaobj-py3==0.4.4
jedi==0.19.1
jinja2-humanize-extension==0.4.0
json5==0.9.25
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.1
jupyter_core==5.7.2
jupyter_server==2.14.0
jupyter_server_terminals==0.5.3
jupyterlab==4.1.6
jupyterlab_pygments==0.3.0
jupyterlab_server==2.26.0
jupyterlab_widgets==3.0.10
kedro==0.19.5
kedro-datasets==3.0.0
kedro-docker==0.6.0
kedro-mlflow==0.12.2
kedro-telemetry==0.4.0
kedro-viz==9.0.0
kubernetes==29.0.0
lazy_loader==0.4
llvmlite==0.42.0
makefun==1.15.2
Mako==1.3.3
Markdown==3.6
markdown-it-py==3.0.0
marshmallow==3.21.1
matplotlib==3.8.4
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.0.2
mkl-service==2.4.0
mlflow==2.11.3
mock==5.1.0
more-itertools==10.2.0
multimethod==1.11.2
munkres==1.1.4
mypy-extensions==1.0.0
nannyml==0.10.6
nbclient==0.10.0
nbconvert==7.16.3
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.3
nltk==3.8.1
notebook==7.1.3
notebook_shim==0.2.4
numba==0.59.1
omegaconf==2.3.0
openpyxl==3.1.2
opensearch-py==2.4.2
optuna==3.6.1
orderedmultidict==1.0.1
orjson==3.10.3
overrides==7.7.0
packaging==23.2
pandocfilters==1.5.1
parse==1.20.1
parso==0.8.4
pathspec==0.12.1
pendulum==2.1.2
phik==0.12.4
pip-tools==7.4.1
platformdirs==4.2.0
plotly==5.21.0
pluggy==1.2.0
pre-commit-hooks==4.6.0
prometheus_client==0.20.0
prompt-toolkit==3.0.43
proto-plus==1.23.0
psutil==5.9.8
pure-eval==0.2.2
py4j==0.10.9.7
pycryptodomex==3.20.0
pydantic==2.7.1
pydantic_core==2.18.2
pydeck==0.9.1
pyfiglet==0.8.post1
Pygments==2.17.2
PyHopsHive==0.6.4.1.dev0
pyhumps==1.6.1
pyjks==20.0.0
PyMySQL==1.1.0
pyparsing==2.4.7
pyproject_hooks==1.0.0
pyspark==3.5.1
pytest==7.4.4
pytest-cov==3.0.0
pytest-mock==1.13.0
python-json-logger==2.0.7
python-multipart==0.0.9
python-slugify==8.0.4
pytoolconfig==1.3.1
pytzdata==2020.1
PyWavelets==1.6.0
pywin32==306
pywinpty==2.0.13
pyzmq==26.0.2
querystring-parser==1.2.4
readchar==4.0.6
referencing==0.34.0
regex==2024.5.10
requests==2.31.0
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rope==1.13.0
rpds-py==0.18.0
ruamel.yaml==0.17.17
ruff==0.1.15
s3transfer==0.10.1
scipy==1.11.3
seaborn==0.13.2
secure==0.3.0
segment-analytics-python==2.3.2
semver==2.13.0
Send2Trash==1.8.3
shap==0.45.1
shellingham==1.5.4
slack_sdk==3.27.1
slicer==0.0.8
smmap==5.0.1
sniffio==1.3.1
soupsieve==2.5
SQLAlchemy==1.4.52
sqlmodel==0.0.8
sqlparse==0.5.0
stack-data==0.6.3
starlette==0.37.2
strawberry-graphql==0.227.3
streamlit==1.34.0
streamlit-ydata-profiling==0.2.1
tenacity==8.2.3
termcolor==2.4.0
terminado==0.18.1
text-unidecode==1.3
thrift==0.20.0
tinycss2==1.2.1
toml==0.10.2
tomli==2.0.1
toolz==0.12.1
toposort==1.10
tornado==6.4
tqdm==4.66.2
traitlets==5.14.3
twofish==0.3.0
typeguard==4.2.1
typer==0.12.3
typing-inspect==0.9.0
ucimlrepo==0.0.6
ujson==5.9.0
uri-template==1.3.0
uvicorn==0.29.0
vaderSentiment==3.3.2
visions==0.7.6
waitress==3.0.0
watchdog==3.0.0
watchfiles==0.21.0
watchgod==0.8.2
wcwidth==0.2.13
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
websockets==12.0
Werkzeug==3.0.2
wget==3.2
widgetsnbextension==4.0.10
woodwork==0.30.0
wordcloud==1.9.3
ydata-profiling==4.7.0
